{% extends "base.html" %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
                <tr>
                    {% for day in week %}
                        <td>
                            {% if day %}
                                {{ day }}
                                {% for task in tasks %}
                                    {% if task.due_date.day == day %}
                                        <p>{{ task.name }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
