{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
  <h1>Are you sure you want to delete this task?</h1>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
    <a href="{% url 'show_my_tasks' %}">Cancel</a>
  </form>
{% endblock %}
