{% extends "base.html" %}

{% block title %}Edit a task{% endblock %}
{% block content %}
    <main>
        <div>
            <h1>Edit a task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock %}