{% extends "base.html" %}

{% block title %}My Tasks{% endblock %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                            <th>Time Spent</th> 
                            <th>Priority</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.get_status_display }}</td>
                                <td>{{ task.time_spent|default:"Not tracked yet" }}</td> 
                                <td>{{ task.get_priority_display }}</td>
                                <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
                                <td><a href="{% url 'confirm_delete' task.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock %}