{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Status</th>
                            <th>Time Spent</th> 
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee.username }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.get_status_display }}</td>
                                <td>{{ task.time_spent|default:"Not tracked yet" }}</td>
                                <td>{{ task.get_priority_display }}</td>
                                <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
                                <td><a href="{% url 'confirm_delete' task.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}